In [3]:
#! /usr/bin/env python



from statistics import *

from typing import List
list_of_int = List[int]
list_of_str = List[str]
from math import pi
# imports

# Question 1
### The following is a list of 10 students ages:
### ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number)
- Find the range of the ages (max minus min)

In [12]:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting
sorted_ages=sorted(ages)
print("min :",sorted_ages[0],"max :",sorted_ages[-1],sep=" ")
print(f'sorted list :{sorted_ages}')

ages.append(min(ages))  
ages.append(max(ages)) 
print("after add min and max in ages :",ages)

print(f"median :{median(ages)}",f"avg : {mean(ages)}",f"range:{max(ages)-min(ages)}",sep="\n")

min : 19 max : 26
sorted list :[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
after add min and max in ages : [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
median :24.0
avg : 22.75
range:7

# Explanation

### 1 list are mutable data structure (we can  modified after creating it or defining it  )
### 2  list are so easy to use as we can simply acess element throught indexing , we can also use reverse           indexing as well eg arr[-1] last element of array in list   
### 3 list have lot of build in method like sort where we can sort entire elements in list 
### 4 diff b/w sort and sorted sort will sort element inside list and sorted will return sorted list

# Question 2

## Create an empty dictionary called dog
- Add name, color, breed, legs, age to the dog dictionary
- Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
- Get the length of the student dictionary
- Get the value of skills and check the data type, it should be a list
- Modify the skills values by adding one or two skills
- Get the dictionary keys as a list
- Get the dictionary values as a list

In [177]:


dog = {'name':str,'breed':str,'legs':int,'age':int}

dog["name"]="Tom"
dog["color"] = "white"
dog["breed"] ='us'
dog['legs'] = 4
dog ['age'] = 2
#defined student dic according to condition like skill should be list 
s= {'first_name':str, 'last_name':str, 'gender':str,'age':int, 'marital status':str,'skills':list_of_str,'country':str, 'city':str ,'address':str}
#add details bhanu 

s['first_name'] = "Bhanu"
s['last_name'] = "s"
s['gender'] = 'Male'
s['age'] = 23
s['marital status']='single'
s['skills'] = ["machine learning","python","java"]
s["country"] = "India"
s["city"] ="hyderabad"
s["address"] = "Bank colony 500086"

print(f'length of student dic : {len(s)}')#length of student

if type(s['skills']) == list:
        print(" true skills   is the type of list ")
else:print(type(s['skills']))

print("before modifying skill set :",s['skills'],sep="\t",end="\n")
"Modifying skill set  "    
s['skills'][-1] = "c++" 
"After modifying skill set"
print("After modifying skill set : ",s['skills'],sep="\t",end="\n\n")

s_keys=list(s.keys())
s_values=list(s.values())
print("Student keys :",f"type - {type(s_keys)}",s_keys,sep="\n")
print("Student values",f"type - {type(s_values)}",s_values,sep="\n")

length of student dic : 9
 true skills   is the type of list
before modifying skill set :	['machine learning', 'python', 'java']
After modifying skill set : 	['machine learning', 'python', 'c++']

Student keys :
type - <class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
Student values
type - <class 'list'>
['Bhanu', 's', 'Male', 23, 'single', ['machine learning', 'python', 'c++'], 'India', 'hyderabad', 'Bank colony 500086']

# Explanation

#### 1 Dictionaries are used to store data values in key:value pairs.

#### 2 A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

#### 3 Dictionaries cannot have two items with the same key

# Question 3
- Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
- Join brothers and sisters tuples and assign it to siblings
- How many siblings do you have?
- Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [176]:
'''
Tuples are similar to list but differnce is once they are defined we can not change values 
in one word they are immutable
'''
sisters=("srija","sindu","Indu")
brothers = ("vinya","saral","sun")

siblings=sisters+brothers
print(f"count of siblings : {len(siblings)}")
family_members = ("srija","sindu","Indu","vinya","saral","sun","shiva","ganesh","Parvathi")
print("family members :",family_members,sep=" ")

count of siblings : 6
family members : ('srija', 'sindu', 'Indu', 'vinya', 'saral', 'sun', 'shiva', 'ganesh', 'Parvathi')

# Explanation

### 1.Tuples are used to store multiple items in a single variable similar to list but immutable
### 2. as we see we can create new tuple but can not edit old tuble values

# Question 4

- it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
- A = {19, 22, 24, 20, 25, 26}
- B = {19, 22, 20, 25, 26, 24, 28, 27}
- age = [22, 19, 24, 25, 26, 24, 25, 24]
- Find the length of the set it_companies
- Add 'Twitter' to it_companies
- Insert multiple IT companies at once to the set it_companies
- Remove one of the companies from the set it_companies
- What is the difference between remove and discard
- Join A and B
- Find A intersection B
- Is A subset of B
- Are A and B disjoint sets
- Join A with B and B with A
- What is the symmetric difference between A and B
- Delete the sets completely
- Convert the ages to a set and compare the length of the list and the set.

In [219]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("length of it companies :",len(it_companies),sep=" ")
print("before adding :",it_companies ,sep=" ")
it_companies.add('Twitter')
print("after adding Twitter:",it_companies ,sep=" ")
new_companies= ['TCS','Wipro']
it_companies.update(new_companies)
print("after adding New companies:",it_companies ,sep=" ")

'''
The discard() method removes the specified item from the set. This method is different from the remove() method, 
because the remove() method will raise an error if the specified item does not exist, 
and the discard() method will not.

'''
it_companies.discard('Wipro')
print("after removing wipro company:",it_companies ,sep=" ",end="\n\n")


#########################################
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("Joining A and B :",A.union(B),sep =" ")
if A.issubset(B):
    print("Yes,A is subset of B")
else:print("No A is not subset of B")
if A.isdisjoint(B):
    print("Yes,A is disjoint of B")
else:print("No A is not disjoint of B")
print("Joining A and B :",A.union(B),sep =" ")
print("Joining B and A :",B.union(A),sep =" ")
print("symmetric difference between A and B is :",A.symmetric_difference(B))
A.clear()
B.clear()

print("After clearning element :",A,B,sep="\n")
age = [22, 19, 24, 25, 26, 24, 25, 24]
len_agelist=len(age)
age=set(age)
len_age_set=len(age)
print("as they are lot of common element set length less compared to list ",f'list :{len_agelist}',f'set:{len_age_set}',sep="\n")

length of it companies : 7
before adding : {'Amazon', 'Apple', 'Facebook', 'Oracle', 'Microsoft', 'IBM', 'Google'}
after adding Twitter: {'Amazon', 'Apple', 'Facebook', 'Twitter', 'Oracle', 'Microsoft', 'IBM', 'Google'}
after adding New companies: {'Amazon', 'TCS', 'Google', 'Oracle', 'Wipro', 'Microsoft', 'Apple', 'Twitter', 'IBM', 'Facebook'}
after removing wipro company: {'Amazon', 'TCS', 'Google', 'Oracle', 'Microsoft', 'Apple', 'Twitter', 'IBM', 'Facebook'}

Joining A and B : {19, 20, 22, 24, 25, 26, 27, 28}
Yes,A is subset of B
No A is not disjoint of B
Joining A and B : {19, 20, 22, 24, 25, 26, 27, 28}
Joining B and A : {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B is : {27, 28}
After clearning element :
set()
set()
as they are lot of common element set length less compared to list
list :8
set:5

# exlplanation

#### 1 set is unorder list ,we cannot access through indexing  we can do all mathamatical operation in set
#### 2 lot special method are in set

# Question 5
### The radius of a circle is 30 meters.
- Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
- Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle_
- Take radius as user input and calculate the area.

In [235]:
#area_of_circle,circumfrence of circle

def rununtil():
    try:
        r = eval(input())
    except:
        print("please entire a number ")
        rununtil()
    else:
        area_of_circle =lambda r:int(pi*r**2)
        circum_of_circle =lambda r:int(2*pi*r)
        print(f'area of circle :{area_of_circle(r)}',f'circum_of_circle {circum_of_circle(r)}',sep="\n")
rununtil()

4
area of circle :50
circum_of_circle 25

# explanation 

#### 1 uses exception as we are taking interger input not string for calculating are of cricle

# Question 6

###  “I am a teacher and I love to inspire and teach people”
### How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [245]:
s='I am a teacher and I love to inspire and teach people'.split(" ")
print('unique words in setence  :',set(s),sep=" ")
print(f'{len(set(s))} unique words in sentence')

unique words in setence  : {'a', 'teach', 'am', 'inspire', 'people', 'teacher', 'I', 'love', 'to', 'and'}
10 unique words in sentence

# Explanation

Here we  split words in from sentence using split method split method can be used for extracting data with specific delimited in this case it is whitespace is the delimeter
after that with help of set we could find unique words

# Question 7

### Use a tab escape sequence to get the following lines.
 ### Name Age Country City
 ### Asabeneh 250 Finland Helsinki

In [246]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

# Explanation
### \t  is tab 
### \n is new line

# Question 8

## Use the string formatting method to display the following:
- radius = 10
- area = 3.14 * radius ** 2
- “The area of a circle with radius 10 is 314 meters square.”

In [248]:
radius = 10
area = 3.14 * radius **2
print(f'The area of a circle with radius 10 is {area} meters square ')

The area of a circle with radius 10 is 314.0 meters square

# Explanation

#### f string is string formating method that is used for inserting data with in sentence of string  this way was introduced after 3.6 before that we method called .formate()

# Question 9
- Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
- kilograms in a separate list using Loop. N: No of students (Read input from user)
- Ex: L1: [150, 155, 145, 148]
- Output: [68.03, 70.3, 65.77, 67.13]

In [266]:
def convert(val:int)->float:return round(val*0.45359237,1)

n =eval( input("please enter a how many member u want to convert for "))
weight_kg=[]
for i in range(n):
    val = eval(input())
    weight_kg.append(convert(val))
print(weight_kg)

please enter a how many member u want to convert for 2
150
155
[68.0, 70.3]

 # Explanation
 
 ### Here convert  method which specificaly returns float values after converting lbs to wegith and  rounded to 1 decimal